body {
    background : url("background.jpg");
    background-size: cover;
    font-family: 'Rajdhani', sans-serif;
    color: gold;
}

#titre {
    background-color: gold;
}

.carte{
    width: 100%;
}

.game{
	max-width: 550px;
	margin: auto;
}